[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
fastapi = "*"
pydantic-settings = "*"
elasticsearch = "*"
aiokafka = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
